.Title {
  /* color: #313131; */
  color: #14171a !important;
  margin: 1rem;
  font-size: 1.5rem;
  font-family: "poppins", sans-serif;
  font-weight: 700;
}

.Description {
  font-family: "poppins";
  font-weight: 400;
  margin: 1rem;
  color: #6e6e6e;
}

.Footer {
  padding: 0 !important;
  border: 0 !important;
}

.Button {
  width: 50% !important;
  height: 100% !important;
  margin: 0 !important;
  margin-top: 15px !important;
  border-radius: 0 !important;
  border: 0 !important;
  border-top: 0 !important;
  background-color: #657786 !important;
  text-align: center;
  color: #f5f8fa;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  display: inline-block;
  cursor: pointer;
}
