.Courses {
  margin: 300px 0;
}

.Courses h1 {
  font-family: "Alata";
  color: #1da1f2;
  margin-bottom: 50px;
  margin-left: 20px;
}

.Courses .Section {
  color: #1da1f2;
  margin-left: 25px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.Vtabs {
  margin-bottom: 20px;
  margin-top: 20px;
}
